@media screen and (max-width: 345px) {
    .collapse button, .collapse a {
        font-size: 12px !important;
    }

    input {
        max-width: 250px;
        font-size: 12px !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

section div {
    text-align: center;
}

section p {
    background-color: #212529;
    color: #FFF;
    padding: 25px 15px;
}

h2 {
    background-color: #212529;
    color: #FFF;
    border-radius: 5px;
    padding: 25px 15px;
    margin-bottom: 15px;
}

.h4 {
    color: SteelBlue;
    display: inline-block;
}

.red {
    color: #AA0000;
    display: inline-block;
}

.show {
    border-bottom: 1px solid #6C757D;
}

.collapse {
    width: 100%;
    overflow: hidden;
}

.collapse button, .collapse a {
    overflow: hidden;
    word-wrap: break-word;
}

input {
    max-width: 360px;
    border: 0;
}

div.input-group {
    justify-content: center;
    margin: 15px 0;
}

#description {
    text-align: left;
    border-radius: 5px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

#footer:hover {
    opacity: 1;
}